        body{
           background:#fff;
           color:#222;
           padding:0;
        }
        #gjs-loader {
            width: 400px;
            height:300px;
            background: url('../images/SciFestLogo.png');
   			margin-left: auto;
    		margin-right:auto;
    	}
        #loading {
            width : 200px;
            height: 10px;
            position: relative;
            left: 50px;
            top:-200px;
        }
        #game-div {
            width : 700px;
            height: 350px;
            top: 0px;
   			left: 50%;
    		margin-left: -350px; 
            position: absolute;
        }
        #game-canvas {
            width : 700px;
            height: 350px;
            position: absolute;
            zindex:-1;
        }
        #gamecanvas-div{
            width : 700px;
            height: 150px;
            top:0px;
   			left: 50%;
    		margin-left: -350px; 
            position: absolute;
        }
        #graphcanvas-div{
            width : 400px;
            height: 150px;
            left: 70px;
            top:-155px;
            position: absolute;
        }
        #heartRateSlider {
            width : 10px;
            height: 100px;
            left: 25px;
            top:150px;
            position: absolute;
        }
       	#artHead {
            width : 4px;
            height: 40px;
            left: 165px;
            top:60px;
            position: absolute;
            z-index:5;
        }       	
        #artArms{
            width : 4px;
            height: 40px;
            left: 115px;
            top:120px;
            position: absolute;
        }
        #artUpperLeg{
            width : 4px;
            height: 40px;
            left: 115px;
            top:200px;
            position: absolute;
        }
		#artLowerLeg{
            width : 4px;
            height: 40px;
            left: 165px;
            top:250px;
            position: absolute;
        }
        #submitScore {
            left: 0px;
            top:500px;
            position: absolute;
        }        
        #play {
            left: 20px;
            top:400px;
            position: absolute;
        }        
        #menu {
            width : 700px;
            height: 350px;
            top: 50px;
   			margin-left: auto;
    		margin-right:auto; 
            z-index:5;
            position: absolute;
            background: url('../images/menu.png');
        }
